<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{data.home_title}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        {% include 'navi.html' %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">实例</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="/mysql/view?form=add">添加</a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>端口</th>
                                        <!--
                                        <th>root密码</th>
                                        -->
                                        <th>执行用户</th>
                                        <!--
                                        <th>执行密码</th>
                                        -->
                                        <th>创建时间</th>
                                        <th>检测状态</th>
                                        <th>错误信息</th>
                                        <th>备注</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in data.rows %}
                                    <tr class="odd gradeX">
                                        <td>{{row.id}}</td>
                                        <td>{{row.port}}</td>
                                        <!--
                                        <td>{{row.root_pwd}}</td>
                                        -->
                                        <td>{{row.remote_user}}</td>
                                        <!--
                                        <td>{{row.remote_pwd}}</td>
                                        -->
                                        <td>{{row.create_time}}</td>
                                        <td>
                                            <font {%if row.puller_status=='ok' %} color="green" {%else%} color="red" {% endif %}>
                                                {{row.puller_status}}
                                            </font>
                                        </td>
                                        <td>{{row.puller_errmsg}}</td>
                                        <td>{{row.remark}}</td>
                                        <td class="center">
                                            <!--<a href="/mysql_change/index?id={{row.server_id}}" class="btn-link">变更</a>-->
                                            <a href="#" onclick='return test_conn("/mysql_instance/test_conn?id={{row.id}}")' class="layui-btn layui-btn-normal layui-btn-sm">测试连接</a>
                                            <a href="#" onclick='return test_privilege("/mysql_instance/test_privilege?id={{row.id}}")' class="layui-btn layui-btn-warm layui-btn-sm">查看权限</a>
                                            <a href="#" onclick="show_slave_modal('{{row.id}}')" class="layui-btn layui-btn-sm">配置从库</a>
                                            <a href="#" onclick="show_auto_verify_time('{{row.id}}')" class="layui-btn layui-btn-danger layui-btn-sm">自动审核时间</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                            <!--
                            <div class="well">
                                <h4>DataTables Usage Information</h4>
                                <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
                                <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
                            </div>
                            -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /#page-wrapper -->
        </div>
    </div>
    <!-- /#wrapper -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">配置从库</h4>
                </div>
                <div class="modal-body">
                    <input id="cur_set_ins_id" type="hidden"> IP：
                    <input id="slave_ip" type="text"> 端口：
                    <input id="slave_port" type="text">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="set_slave_info()">提交</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="time_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">自动审核时间设置</h4>
                </div>
                <div class="modal-body">
                    <div class="layui-input-block">
                        <input id="cur_set_time_range_ins_id" type="hidden">
                        <input type="text" class="layui-input" id="time_range" class="layui-input" placeholder=" - " style="width:200px;">
                        <label style="color:red">若希望全天自动执行，可设置为 00:00:00 - 00:00:00</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="set_time_range()">提交</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    <script src="../vendor/layui/layui.js"></script>
    <link href="../vendor/layui/css/layui.css" rel="stylesheet">

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });

        function test_conn(url) {
            jQuery.ajax({
                type: "POST",
                url: url,
                async: false,
                error: function (resp) {
                    console.log(resp);
                },
                success: function (resp) {
                    resp = jQuery.parseJSON(resp);
                    layui.use(['layer'], function () {
                        var layer = layui.layer
                        if (resp.errno == 0) {
                            layer.msg(
                                '连接正常',
                                {
                                    time: 3000,
                                    icon: 1,
                                },
                                function () {
                                }
                            );
                        } else {
                            layer.msg(
                                resp.errmsg,
                                {
                                    time: 3000,
                                    icon: 2,
                                },
                                function () {
                                }
                            );
                        }
                    });
                }
            });
            return false;
        };

        function test_privilege(url) {
            layui.use(['layer'], function () {
                var layer = layui.layer;
                jQuery.ajax({
                    type: "POST",
                    url: url,
                    async: false,
                    error: function (resp) {
                        alert("发生错误:");
                        console.log(resp);
                    },
                    success: function (resp) {
                        resp = jQuery.parseJSON(resp);
                        data = resp.data;

                        if (resp.errno == 0) {
                            is_has_priv = data['is_has_priv'];
                            content = '';
                            if (is_has_priv == 1) {
                                content = '<table><tr><td>拥有权限</td></tr><td>' + data['has_priv'] + '</td><tr></tr></table>';
                            } else {
                                content = '<table><tr><td>缺少的权限:</td></tr><td>' + data['lack_priv'] + '</td><tr></tr></table>';
                            }
                            content = '<div style="padding: 50px; line-height: 22px; font-weight: 300;">' + content + '</div>';

                            layer.open({
                                type: 1
                                , title: false //不显示标题栏
                                , closeBtn: true
                                , area: '400px;'
                                , shade: 0.8
                                , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                                , btn: []
                                , btnAlign: 'c'
                                , moveType: 0 //拖拽模式，0或者1
                                //, content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">你知道吗？亲！<br>layer ≠ layui<br><br>layer只是作为Layui的一个弹层模块，由于其用户基数较大，所以常常会有人以为layui是layerui<br><br>layer虽然已被 Layui 收编为内置的弹层模块，但仍然会作为一个独立组件全力维护、升级。<br><br>我们此后的征途是星辰大海 ^_^</div>'
                                , content: content
                                , success: function (layero) {

                                }
                            });
                        } else {
                            content = '<div style="padding: 50px; line-height: 22px; font-weight: 300;">' + resp['errmsg'] + '</div>';
                            layer.open({
                                type: 1
                                , title: false //不显示标题栏
                                , closeBtn: true
                                , area: '400px;'
                                , shade: 0.8
                                , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                                , btn: []
                                , btnAlign: 'c'
                                , moveType: 0 //拖拽模式，0或者1
                                , content: content
                                , success: function (layero) {

                                }
                            });
                        }
                    }
                });
            });
            return false;
        };

        function show_slave_modal(ins_id) {
            slave_ip = '';
            slave_port = 3306;
            jQuery.ajax({
                type: "POST",
                url: "/front/get_ins_by_id?ins_id=" + ins_id,
                async: false,
                error: function (resp) {
                    alert("发生错误:");
                    console.log(resp);
                },
                success: function (resp) {
                    resp = jQuery.parseJSON(resp);
                    ins = resp.data;
                    slave_ip = ins['slave_ip'];
                    slave_port = ins['slave_port'];
                    if (slave_port == -1) {
                        slave_port = '';
                    }
                    //if (slave_ip == '') {
                    //    slave_port = '';
                    //}
                    //打开一个modal
                    $("#slave_ip").val(slave_ip);
                    $("#slave_port").val(slave_port);
                    $("#cur_set_ins_id").val(ins_id);
                    $("#myModal").modal();
                }
            });
        };

        function set_slave_info() {
            ins_id = $("#cur_set_ins_id").val();
            slave_ip = $("#slave_ip").val();
            slave_port = $("#slave_port").val();

            post_data = {
                'ins_id': ins_id,
                'slave_ip': slave_ip,
                'slave_port': slave_port,
            }

            layui.use(['layer'], function () {
                var layer = layui.layer;
                jQuery.ajax({
                    type: "POST",
                    url: "/mysql_instance/set_slave_info",
                    data: post_data,
                    async: false,
                    error: function (resp) {
                        alert("发生错误:");
                        console.log(resp);
                    },
                    success: function (resp) {
                        resp = jQuery.parseJSON(resp);
                        if (resp.errno == 0) {
                            layer.msg('更新成功');
                            return true;
                        } else {
                            layer.msg(resp.errmsg);
                            return false;
                        }
                    }
                });
            });
        };

        function show_auto_verify_time(ins_id) {
            jQuery.ajax({
                type: "POST",
                url: "/front/get_ins_by_id?ins_id=" + ins_id,
                async: false,
                error: function (resp) {
                    alert("发生错误:");
                    console.log(resp);
                },
                success: function (resp) {
                    resp = jQuery.parseJSON(resp);
                    ins = resp.data;
                    allow_begin_time = ins['allow_begin_time'];
                    allow_end_time = ins['allow_end_time'];
                    time_tange = allow_begin_time + ' - ' + allow_end_time;
                    ins_id = ins['id'];
                    layui.use(['laydate'], function () {
                        var laydate = layui.laydate;
                        laydate.render({
                            elem: '#time_range'
                            , type: 'time'
                            , range: true
                        });
                    });

                    $("#time_range").val(time_tange);
                    $("#cur_set_time_range_ins_id").val(ins_id);
                    $("#time_modal").modal();
                }
            });
        };

        function set_time_range() {
            time_range = $("#time_range").val();
            ins_id = $("#cur_set_time_range_ins_id").val();
            params = {
                'time_range' : time_range,
                'ins_id' : ins_id,
            }
            jQuery.ajax({
                type: "POST",
                url: "/mysql_instance/set_time_range",
                data: params,
                async: false,
                error: function (resp) {
                    alert("发生错误:");
                    console.log(resp);
                },
                success: function (resp) {
                    resp = jQuery.parseJSON(resp);
                    if (resp.errno == 0) {
                        layer.msg('更新成功');
                        return true;
                    } else {
                        layer.msg(resp.errmsg);
                        return false;
                    }
                }
            });
        };
    </script>

</body>

</html>