<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{data.home_title}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="../vendor/layui/css/layui.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        {% include 'navi.html' %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">上线申请
                    </h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            请填写上线申请单
                            <!--
                            1.语句之间要有空格，例where id = 100, 没有空格会影响判断的准确性<br>

2.SQL语句要后面要加分号, MySQL解析器规定分号才可以执行SQL<br>

3.不能同时提交DDL和DML语句<br>

4.提交申请后，需等待管理员审核后才能上线<br>-->
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="layui-form-item">
                                    <div class="layui-collapse" lay-filter="test">
                                        <div class="layui-colla-item">
                                            <h2 class="layui-colla-title">使用说明</h2>
                                            <div>
                                                <br>
                                                <!--
                                                <p>&nbsp 1.语句之间要有空格，例where id = 100, 没有空格会影响判断的准确性；</p>
                                                <p>&nbsp 2.SQL语句要后面要加分号, MySQL解析器规定分号才可以执行SQL；</p>
                                                -->
                                                <p>&nbsp 1.不能同时提交DDL和DML语句；</p>
                                                <p>&nbsp 2.提交申请后，需等待SRE审核后才能上线。</p>
                                                <!--
                                                <p>&nbsp 5.一次只能提交一个ALTER语句。</p>
                                                -->
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <form class="layui-form" action="" id="form_id">
                                        <input type="hidden" name="sel_ip" id="sel_ip">
                                        <input type="hidden" name="sel_port" id="sel_port">
                                        <input type="hidden" name="sel_db_name" id="sel_db_name">
                                        <input type="hidden" name="order_id" value="{{data.order.id}}">
                                        <div class="layui-form-item layui-form-text">

                                            <label class="control-label">申请原因</label>

                                        </div>
                                        <div class="layui-form-item layui-form-text">
                                            <textarea lay-verify="required" placeholder="请填写改表的原因" class="layui-textarea" name="reason" id="reason">{{data.order.reason}}</textarea>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="control-label">MySQL</label>

                                        </div>
                                        <div class="layui-form-item">
                                            <select id="mysql_server_select" name="server_id" lay-verify="required" lay-filter="sel_f_server" id="sel_id_server" lay-search>
                                                <option value=""></option>
                                                {% for server in data.mysql_server_list %}
                                                <option value="{{server.id}}">{{server.ip}}/{{server.remark}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="control-label">端口实例</label>

                                        </div>
                                        <div class="layui-form-item">
                                            <select name="ins_id" lay-verify="required" lay-search id="sel_id_ins" lay-filter="sel_f_ins">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="control-label">数据库</label>

                                        </div>
                                        <div class="layui-form-item">
                                            <select name="ins_db_id" lay-verify="required" lay-search id="sel_id_ins_db" lay-filter="sel_f_ins_db">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="control-label">SQL语句</label>
                                            <button type="button" class="layui-btn layui-btn-primary" id="upload_btn">
                                                <i class="layui-icon">&#xe67c;</i>上传SQL文件
                                            </button>
                                        </div>
                                        <div class="layui-form-item layui-form-text">
                                            <textarea lay-verify="required" rows="10" placeholder="请输入SQL语句" class="layui-textarea" name="sql" id="text_id_sql" lay-filter="text_f_sql">{{data.order.sql}}</textarea>
                                        </div>
                                        <div class="layui-form-item" align="center">
                                            <div class="layui-input-block">
                                                <button class="layui-btn" lay-submit lay-filter="commit" id="commit_btn">提交</button>
                                                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="commit" id="save_btn">保存</button>
                                            </div>
                                        </div>
                                        
                                    </form>
                                </div>
                                <div class="col-lg-6">
                                    <div class="layui-form-item">
                                        <label class="control-label">语法检查</label>

                                    </div>
                                    <div class="layui-form-item layui-form-text">
                                        <textarea rows="32" class="layui-textarea" id="text_id_error_warn_display" lay-filter="text_f_error_warn_display" disabled></textarea>
                                    </div>
                                    <!--
                                    <div class="layui-form-item">
                                        <label class="control-label">优化建议</label>

                                    </div>
                                    
                                    <div class="layui-form-item layui-form-text">
                                        <textarea rows="14" class="layui-textarea" id="text_id_sql" lay-filter="text_f_sql" disabled></textarea>
                                    </div>
                                    -->
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../vendor/jquery/jquery.validate.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>


    <script src="../vendor/layui/layui.js"></script>
    <script src="../vendor/addel/addel.jquery.js"></script>

    <script type="text/javascript">

        $("#xsql_menu").click(function () {
        });

        function checkFileExt(filename) {
            var flag = false; //状态
            var arr = ["sql", "txt"];
            //取出上传文件的扩展名
            var index = filename.lastIndexOf(".");
            if (index == -1) {
                flag = true;
            } else {
                var ext = filename.substr(index + 1);
                for (var i = 0; i < arr.length; i++) {
                    if (ext == arr[i]) {
                        flag = true;
                        break;
                    }
                }
            }
            return flag;
        }

        layui.use(['form', 'element', 'jquery', 'layer', 'upload'], function () {
            var form = layui.form;
            var $ = jQuery = layui.jquery;
            var layer = layui.layer;
            var upload = layui.upload;

            //执行实例
            var uploadInst = upload.render({
                elem: '#upload_btn' //绑定元素
                , url: '/mysql_change/upload' //上传接口
                , done: function (res) {
                    layer.msg('上传完毕', { time: 2000 });
                    sql = res.data;
                    $("#text_id_sql").val(sql);
                }
                , error: function () {
                    //请求异常回调
                    //alert('请求异常');
                },
                accept: 'file',
                //上传大小限制10M
                size: 10240,
                //可同时上传的文件数量
                number: 1,
                //选择文件后不自动上传，
                auto: false,
                //选择文件后的回调函数
                choose: function (obj) {
                    obj.preview(function (index, file, result) {
                        flag = checkFileExt(file['name']);
                        if (flag == false) {
                            layer.msg('不支持的文件类型, 请选择 .txt .sql 或文本类型的文件', { time: 2000, icon: 2 });
                            return;
                        }
                        obj.upload(index, file);
                    });
                },
            });

            //选择mysql服务器, 刷新实例
            form.on('select(sel_f_server)', function (data) {
                value = data.value;
                if (value == "") {
                    $("#sel_id_ins").empty();
                    $("#sel_id_ins").append("<option value=''>" + "请选择" + "</option>");
                } else {
                    $.ajax({
                        url: '/front/get_ins_by_server_id?server_id=' + value,
                        type: 'POST',
                        async: false,
                        error: function (resp) {
                            console.log(resp);
                        },
                        success: function (resp) {
                            resp = $.parseJSON(resp);
                            if (resp.errno == 0) {
                                $("#sel_id_ins").empty();
                                rows = resp.data;
                                $("#sel_id_ins").append("<option value=''>" + "请选择" + "</option>");
                                for (index in rows) {
                                    row = rows[index];
                                    //if_sec = ' {% if "' + row.id.toString() + '" == data.order.server_id %}selected{% endif %}';
                                    $("#sel_id_ins").append("<option value='" + row.id.toString() + "'>" + row.port.toString() + "</option>");
                                }
                                //设置选中
                                ins_id = '{{data.order.ins_id}}';
                                $("#sel_id_ins").val(ins_id);
                            }
                            form.render('select');
                        }
                    });
                }
            });
            //选择mysql实例，刷新数据库
            form.on('select(sel_f_ins)', function (data) {
                value = data.value;
                if (value == "") {
                    $("#sel_id_ins_db").empty();
                    $("#sel_id_ins_db").append("<option value=''>" + "请选择" + "</option>");
                } else {
                    $.ajax({
                        url: '/front/get_ins_db_by_ins_id?ins_id=' + value,
                        type: 'POST',
                        async: false,
                        error: function (resp) {
                            console.log(resp);
                        },
                        success: function (resp) {
                            resp = $.parseJSON(resp);
                            //console.log(resp);
                            if (resp.errno == 0) {
                                rows = resp.data;
                                $("#sel_id_ins_db").empty();
                                $("#sel_id_ins_db").append("<option value=''>" + "请选择" + "</option>");
                                for (index in rows) {
                                    row = rows[index];
                                    //console.log(row);
                                    $("#sel_id_ins_db").append("<option value='" + row.id.toString() + "'>" + row.db_name.toString() + "</option>");
                                }
                            }
                            form.render('select');
                        }
                    });
                }
            });
            //监听提交
            form.on('submit(commit)', function (data) {
                btn = data.elem;
                btn_id = $(btn).attr('id')
                if (btn_id == 'commit_btn') {
                    //提交
                    $("#commit_btn").attr('disabled', true);
                    layer.load();
                    $("#text_id_error_warn_display").val("");
                    //赋值到hidden
                    var sel_ip_text = $("#mysql_server_select").find("option:selected").text();
                    var sel_port_text = $("#sel_id_ins").find("option:selected").text();
                    var sel_db_name_text = $("#sel_id_ins_db").find("option:selected").text();
                    $("#sel_ip").val(sel_ip_text);
                    $("#sel_port").val(sel_port_text);
                    $("#sel_db_name").val(sel_db_name_text);
                    $.ajax({
                        url: '/mysql_change/commit',
                        type: 'POST',
                        async: true,
                        data: $('#form_id').serialize(),
                        error: function (resp) {
                            layer.closeAll('loading');
                            console.log(resp);
                            $("#commit_btn").attr('disabled', false);
                            layer.msg('发生错误', { time: 2000, icon: 2 });
                        },
                        success: function (resp) {
                            layer.closeAll('loading');
                            resp = $.parseJSON(resp);
                            format_sql = resp.data.format_sql;
                            if (format_sql != null && format_sql != '') {
                                $("#text_id_sql").val(format_sql);
                            }
                            //affect_rows = resp.affect_rows;
                            //$("#affect_rows").val(affect_rows);
                            //console.log(resp);
                            //错误码：
                            //0.没有警告，没有错误，审核通过，提交到后台中
                            //1.执行sql检查发生了异常，mysql连接不上等原因，用户名密码不对等
                            //2.有警告，无错误
                            //3.无警告，有错误
                            //4.有警告，有错误
                            if (resp.errno == 0) {
                                //审核成功了，跳转
                                layer.msg("提交成功，请等待管理员审核", { time: 2000, icon: 1 }, function () {
                                    window.location.href = '/sql_order/my_order';
                                });
                            } else if (resp.errno == 1) {
                                //sql审核后端抛异常了
                                console.log(resp.errmsg)
                                layer.msg(resp.errmsg, { time: 2000, icon: 2 });
                            } else if (resp.errno == 2) {
                                //有警告，无错误
                                $("#text_id_error_warn_display").val(resp.data.warning);
                            } else if (resp.errno == 3) {
                                //无警告，有错误
                                $("#text_id_error_warn_display").val(resp.data.error);
                            } else if (resp.errno == 4) {
                                //有警告，有错误
                                //这种情况只显示错误，用户先修正错误
                                $("#text_id_error_warn_display").val(resp.data.error);
                            } else if (resp.errno == 5) {
                                //保存失败
                                layer.msg(resp.errmsg, { time: 2000, icon: 2 });
                            } else if (resp.errno == 6) {
                                //无警告，无错误，但是有影响行数超过阀值的
                                affect_rows_exceed_sql = resp.data.affect_rows_exceed_sql;
                                affect_rows_exceed_cnt = resp.data.affect_rows_exceed_cnt.toString();
                                affect_rows_exceed_limit = resp.data.affect_rows_exceed_limit.toString();
                                $("#text_id_error_warn_display").val("影响行数超过了" + affect_rows_exceed_limit + "条。" + "sql:" + affect_rows_exceed_sql + " 影响行数:" + affect_rows_exceed_cnt);
                            }
                            else {
                                //未知错误
                                layer.msg("未知错误", { time: 2000, icon: 2 });
                            }
                            $("#commit_btn").attr('disabled', false);
                        }
                    });
                    form.render();
                    return false;
                } else {
                    //保存
                    $("#save_btn").attr('disabled', true);
                    layer.load();
                    //赋值到hidden
                    var sel_ip_text = $("#mysql_server_select").find("option:selected").text();
                    var sel_port_text = $("#sel_id_ins").find("option:selected").text();
                    var sel_db_name_text = $("#sel_id_ins_db").find("option:selected").text();
                    $("#sel_ip").val(sel_ip_text);
                    $("#sel_port").val(sel_port_text);
                    $("#sel_db_name").val(sel_db_name_text);
                    $.ajax({
                        url: '/mysql_change/save',
                        type: 'POST',
                        async: true,
                        data: $('#form_id').serialize(),
                        error: function (resp) {
                            layer.closeAll('loading');
                            console.log(resp);
                            $("#save_btn").attr('disabled', false);
                            layer.msg('发生错误', { time: 2000, icon: 2 });
                        },
                        success: function (resp) {
                            layer.closeAll('loading');
                            resp = $.parseJSON(resp);
                            //format_sql = resp.data.format_sql;
                            //$("#text_id_sql").val(format_sql);
                            if (resp.errno == 0) {
                                //保存成功了，跳转
                                layer.msg("保存成功", { time: 2000, icon: 1 }, function () {
                                    window.location.href = '/sql_order/index';
                                });
                            } else {
                                //保存失败
                                layer.msg(resp.errmsg, { time: 2000, icon: 2 }, function () {
                                });
                            }
                            $("#save_btn").attr('disabled', false);
                        }
                    });
                    form.render();
                    return false;
                }
            });

            //页面初次载入的时候
            server_id = '{{data.order.server_id}}';
            value = server_id;
            if (server_id != '') {
                $("#mysql_server_select").val(server_id);
                //更新实例的下拉列表
                $.ajax({
                    url: '/front/get_ins_by_server_id?server_id=' + value,
                    type: 'POST',
                    async: false,
                    error: function (resp) {
                        console.log(resp);
                    },
                    success: function (resp) {
                        resp = $.parseJSON(resp);
                        if (resp.errno == 0) {
                            $("#sel_id_ins").empty();
                            rows = resp.data;
                            $("#sel_id_ins").append("<option value=''>" + "请选择" + "</option>");
                            for (index in rows) {
                                row = rows[index];
                                //if_sec = ' {% if "' + row.id.toString() + '" == data.order.server_id %}selected{% endif %}';
                                $("#sel_id_ins").append("<option value='" + row.id.toString() + "'>" + row.port.toString() + "</option>");
                            }
                        }
                    }
                });
                //设置选中
                ins_id = '{{data.order.ins_id}}';
                $("#sel_id_ins").val(ins_id);
                value = ins_id;
                //更新库的下拉列表
                $.ajax({
                    url: '/front/get_ins_db_by_ins_id?ins_id=' + value,
                    type: 'POST',
                    async: false,
                    error: function (resp) {
                        console.log(resp);
                    },
                    success: function (resp) {
                        resp = $.parseJSON(resp);
                        //console.log(resp);
                        if (resp.errno == 0) {
                            rows = resp.data;
                            $("#sel_id_ins_db").empty();
                            $("#sel_id_ins_db").append("<option value=''>" + "请选择" + "</option>");
                            for (index in rows) {
                                row = rows[index];
                                //console.log(row);
                                $("#sel_id_ins_db").append("<option value='" + row.id.toString() + "'>" + row.db_name.toString() + "</option>");
                            }
                        }
                    }
                });
                //设置选中
                ins_db_id = '{{data.order.ins_db_id}}';
                $("#sel_id_ins_db").val(ins_db_id);
                form.render('select');
            }
        });

    </script>
    <script src="../js/feedback.js"></script>
</body>

</html>